<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Recents</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />

    <link
      href="https://assets.website-files.com/62aee78456e4207786ac4d18/62b0fad1a8cf6a4c26b3cb5e_Faivcon%2032.svg"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link
      href="https://assets.website-files.com/62aee78456e4207786ac4d18/62b0fad95898ce119a80c68e_Faivcon%20256.svg"
      rel="apple-touch-icon"
    />
  </head>

  <body>
    <div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
        role="banner" class="nav-bar w-nav">
        <div class="nav-container w-container">
            <div class="logo-div">
                <a href="#" aria-current="page" class="logotext"><b>Anveshak</b></a>
            </div>

            <nav role="navigation" class="nav-content w-nav-menu">
                <div class="nav-menu">
                    <a href="{% url 'home' %}" class="nav-link w-nav-link">Home</a>
                    <a href="{% url 'index' %}" class="nav-link w-nav-link" style="color:#710101;"><b>Past History</b></a>
                    <a href="{% url 'guide' %}" class="nav-link w-nav-link">Guide</a>
                    <a href="{% url 'notify' %}" class="nav-link w-nav-link">Notification</a>
                </div>
                
                <div class="nav-cta-button-container">
                    <a href="#" class="nav-link w-nav-link"><b>Helpline Number  :  XXXXXX8769</b></a>
                </div>
            </nav>
            <div class="menu-button w-nav-button">
                <img src="https://assets.website-files.com/62aee78456e4207786ac4d18/62aee78456e4200f2eac4d49_Menu%20Icon.svg"
                    loading="lazy" width="24" alt="" class="menu-icon" />
            </div>
        </div>
    </div>

    <div class="page-wrapper">
      <div
        class="section light-color-gradient wf-section"
        style="padding-top: 3%; width: 100%"
      >
        <div class="containers w-container" style="width: 100%; padding: 0px">
          <div class="text-box _1500px center-align">
            <div class="container" style="width: 100%">
              <div class="row">
                <div class="grid">
                  <h2
                    class="heading h2"
                    style="margin-bottom: 30px; text-align: start"
                  >
                    Last Week
                  </h2>
                </div>
                <div class="grid" style="width: 100%; padding: 0%">
                  {% for feature in features %}
                  <div
                    class="card"
                    style="width: 95%; margin: 0px; padding-left: 5%"
                  >
                    <div class="card-body">
                        <img src='/media/{{feature.image}}'>
                      <h1
                        class="card-title"
                        style="
                          color: #616161;
                          font-size: medium;
                          font-weight: bold;
                          text-align: start;
                          margin-top: 2%;
                          margin-bottom: 0%;
                        "
                      >
                        {{feature.dated}}
                      </h1>
                      <h1
                        class="card-title"
                        style="
                          color: #a33434;
                          font-size: medium;
                          font-weight: bold;
                          text-align: left;
                          margin-top: 1%;
                          margin-bottom: 0%;
                        "
                      >
                        {{feature.address}}
                      </h1>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
